<ion-header hidden>
  
  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-center no-lines>
    <ion-icon name="contacts" class="logo" color="ligth"></ion-icon>
  </ion-item>
  
  <ion-item text-center no-lines>
    <h2>Aplicativo de auxílio jurídico</h2>
  </ion-item>
  
  <ion-grid style="width: 75%;">
    <ion-row class="row-style">
      <ion-icon name="at" color="danger"></ion-icon>
      <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="row-style">
      <ion-icon name="lock" color="danger"></ion-icon>
      <ion-input type="password" placeholder="*********" [(ngModel)]="senha"></ion-input>
    </ion-row>
    
    <ion-row>
      <button ion-button block round outline color="light" style="margin-top: 20px;" (click)="login()">
        Login
      </button>
    </ion-row>
  </ion-grid>
  
  <button ion-button block clear color="light" (click)="cadastro()">
    Cadastra-se grátis!
  </button>
</ion-content>
