<ion-header>
  
  <ion-navbar>
    <ion-title>
      <small>{{ mensagens.length }} Mensagens do advogado</small>
    </ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only clear (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let mensagem of mensagens">
      <ion-icon item-left name="ios-chatbubbles-outline"></ion-icon>
      
      <h2>
        <small>{{ mensagem.data().text }} </small>
      </h2>
      
      <p>
        <small> {{ duvida.data().owner_name }} <i> {{ getTempo(duvida.data().created.toDate()) }} Atrás </i> </small>
      </p>
      
    </ion-item>
  </ion-list>
  
  
  <ion-row margin class="row-style">
    <ion-input type="text" placeholder="Digite a sua mensagem..." [(ngModel)]="mensagemChat"></ion-input>
    <button ion-button icon-only color="danger" clear (click)="enviarMensagem(duvida)">
      <ion-icon name="send"></ion-icon>
    </button>  
  </ion-row>  
</ion-content>
