<ion-header>
  <ion-navbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="teste()">clicar</button>
</ion-content>
